{% extends "base.html" %}
    {% block content %}                     
        {% for b in blocks %}     
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="panel-title" style="font-size:18px;">
              <a href="{% url 'article_list' b.id %}">{{ b.title }}</a>
            </span>
            <span class="pull-right">管理员：{{ b.owner.username }}</span>
          </div>
          <div class="panel-body">
            {{ b.des }}
          </div>
        </div>                
        {% endfor %}  
    {% endblock %}

